{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'cover.css' %}">
{% endblock %}
{% block content %}
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto sticky-top">
      <div>
        <h3 class="float-md-start mb-0">Киношка</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0 active" style="cursor: pointer">Главная</a>
          <a class="nav-link fw-bold py-1 px-0" href="{% url 'kino:films' %}">Сеансы</a>
          {% if user.is_authenticated %}
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'kino:profile' %}">Профиль</a>
          {% else %}
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'kino:login' %}">Войти</a>
          {% endif %}
        </nav>
      </div>
    </header>

    <main class="text-center px-3">
      <h1>Киношка</h1>
      <p class="lead">
        Ищите у нас билеты на сеансы с 10 утра до 10 вечера.<br>
        Более 0 кинокартин самых разных жанров: от детективных триллеров до фентезийной романтики.
        Что посмотреть не найдет даже тот, кому любая картина по душе.
      </p>
      <p class="lead">
        {% if user.is_authenticated %}
          <a href="{% url 'kino:films' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Начать поиск</a>
        {% else %}
          <a href="{% url 'kino:login' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Войти и начать поиск</a>
        {% endif %}
      </p>
    </main>

    <footer class="text-center sticky-bottom mt-auto text-white-50">
      <p>Хорошие <a href="{% url 'kino:films' %}" class="text-white">фильмы</a> в хорошем <a href="#" class="text-white">месте</a>.</p>
    </footer>
  </div>
{% endblock %}