.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left {
    position: absolute;
    left: 4%;
    width: 160px;
}

.left-1 {
    top: 24%;
}

.left-2 {
    top: 34%;
}

.left-3 {
    top: 51%;
}

.right {
    position: absolute;
    left: 34%;
}

.right-1 {
    top: 24%;
}

.right-2 {
    top: 33%;
}

.right-3 {
    top: 41%;
}

.right-4 {
    top: 49%;
}

.right-5 {
    top: 57%;
}

.right-6 {
    top: 65%;
}

.bottom {
    position: absolute;
    top: 80%;
    left: 4%;
}

.bottom-1 {
    top: 70%;
}

.bottom-2 {
    left: 4%;
}

.bottom-3 {
    top: 81%;
    left: 13%;
}

.bottom-4 {
    left: 33%;
}
