input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="checkbox"] {
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.pad-bottom {
    padding-bottom: 12px;
}

.hidden {
    display: none;
}

.textarea-title {
    min-width: 150px;
    height: 36px;
    align-content: start;

}

.input-group-text {
    height: 50%;
    width: 100%;
}

.form-select {
    display: inline-block;
    width: 80%;
}

.mw-90px {
    min-width: 90px;
    max-width: 90px;
}
