### My ###

## Private
cw/
!s1/prog/cw/
!s2/asd/cw/
!s3/kt/cw/
!s5/kaivd/cw/
s6/pis/

### My ###


### IntelliJ IDEA ###

## IDE settings
.idea/

## Rider
*.sln.DotSettings.user

### IntelliJ IDEA ###


### Visual Studio ###

## IDE settings
.vs

## Log files
UpgradeLog*.XML
UpgradeLog*.htm

### Visual Studio ###


### Csharp ###

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

## Properties
Properties/

## NuGet
packages/

## MSTest
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

### Csharp ###


### Python ###

## Environments
.env
.venv
env/
venv/

## Cache
__pycache__/

## Coverage
.coverage
.coveragerc

### Python ###


### Flutter ###

## Flutter/Dart/Pub related
doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/flutter_sdk
.packages
.pub-cache/
.pub/
build/
coverage/
.metadata

## Android/iOS/XCode related
android/
ios/

### Flutter ###