<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <queries>
    <intent>
      <action android:name="android.intent.action.MAIN" />
    </intent>
  </queries>

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="Лабы по мобилкам"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.AndroidLW2"
      tools:targetApi="31">
    <activity
        android:name=".v17.MatrixActivity"
        android:exported="false"
        android:parentActivityName=".v17.PointsDistanceActivity"/>
    <activity
        android:name=".v17.PdSettingsActivity"
        android:exported="false"
        android:parentActivityName=".v17.PointsDistanceActivity" />
    <activity
        android:name=".v17.PointsDistanceActivity"
        android:exported="false"
        android:parentActivityName=".MainActivity" />
    <activity
        android:name=".v6.MatrixActivity"
        android:exported="false"
        android:parentActivityName=".v6.TimeActivity" />
    <activity
        android:name=".v6.TcSettingsActivity"
        android:exported="false"
        android:parentActivityName=".v6.TimeActivity" />
    <activity
        android:name=".v6.TimeActivity"
        android:exported="false"
        android:parentActivityName=".MainActivity" />
    <activity
        android:name=".NotifyActivity"
        android:exported="false"
        android:parentActivityName=".MainActivity" />
    <activity
        android:name=".MapActivity"
        android:exported="false"
        android:parentActivityName=".MainActivity" />
    <activity
        android:name=".DrawActivity"
        android:exported="false"
        android:parentActivityName=".MainActivity" />
    <activity
        android:name=".MatrixActivity"
        android:exported="false"
        android:parentActivityName=".MainActivity" />
    <activity
        android:name=".SettingsActivity"
        android:exported="false"
        android:parentActivityName=".MainActivity" />
    <activity
        android:name=".FifteenPuzzleActivity"
        android:exported="false"
        android:parentActivityName=".MainActivity" />
    <activity
        android:name=".MolecularCalculatorActivity"
        android:exported="false"
        android:parentActivityName=".MainActivity" />
    <activity
        android:name=".MainActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>