{% extends 'base.html' %}

{% block title %}Панель сотрудника{% endblock %}

{% block content %}
  <div class="ms-2">
    <div class="mt-3">
      <h3>Панель сотрудника филиала "{{ employee.brunch.name }}"</h3>
      <h4>{{ employee }}</h4>
    </div>
    <div class="mt-3">
      {% if employee.current_service %}
        <form method="post" action="{% url 'set-service-state' pk=employee.current_service.id %}">
          {% csrf_token %}
          <div class="card">
            <div class="card-header">
              Обслуживающий талон от {{ employee.current_service.created }}
            </div>
            <div class="card-body">
              <h5 class="card-title">Причина обращения: {{ employee.current_service.get_service_display }}</h5>
              <p class="card-text">К вам подойдет {{ employee.current_service.client }}</p>
              <input type="submit" class="btn btn-light" name="state" value="Обслуживание успешно завершено">
              <input type="submit" class="btn btn-light" name="state" value="Обслуживание перенесено на неопределенный срок">
            </div>
          </div>
        </form>
      {% else %}
        <h1 class="mt-5 pt-5">
          Вам не назначено ни одного обслуживающего талона. Можете пока что отдохнуть!
        </h1>
      {% endif %}
    </div>
  </div>
{% endblock %}